<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="home">Only Chat <span class="material-icons align-middle">chat</span></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="navbar-brand align-middle" href="">
        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/58/avatar-1295429_960_720.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Usuário
        <span class='material-icons-two-tone align-middle red-color' (click)="logout()">exit_to_app</span>
    </a>
</nav>

<div class="container-chats">
    <div class="card-deck col w-70 h-50">
        <div  *ngFor="let user of users">

            <div class="card row-sm" style="width: 20rem;">
                <img class="card-img-top h-50" src={{user.imageUrl}} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-text text-center">{{user.name}}</h5>
                        <div class="d-flex">
                            <a href="" class="btn btn-primary align-middle ml-2">Conversa <span class="material-icons align-middle">chat</span></a>
                            <a href="" class="btn btn-secondary ml-4">Excluir <span class="material-icons align-middle red-color">delete</span></a>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>