<div class="container">
    <div class="card-header d-flex flex-row " >
        <b class="flex-grow-1"><a href=""><span class="material-icons"><span class="material-icons">arrow_back</span></span> </a></b>        
        <b class="">CADASTRO - ONLY CHAT</b>
      </div>

    <form class="card-header" [formGroup]="formCadastro">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" name="nome" formControlName="nome" placeholder="Nome Completo" required>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" formControlName="email" placeholder="Exemplo@gmail.com" required >
        </div>
        <div class="form-group">
          <label>Link para imagem de perfil</label>
          <input type="text" class="form-control" name="img" formControlName="img" placeholder="https://cdn.pixabay.com/photo/2016/03/31/19/58/avatar-1295429_960_720.png" required >
        </div>
        <div class="form-group">
            <label>Gênero</label>
            <select class="form-control" name="genero" formControlName="genero" required>
              <option value="" hidden>Selecione</option>
              <option value="feminino">Feminino</option>
              <option value="masculino">Masculino</option>
              <option value="naoBinario">Não Binário</option>
            </select>
          </div>
        
        <div class="form-group">
            <label>Senha</label>
            <input required type="password" class="form-control" name="senha" formControlName="senha">
        </div>
        <div class="form-group">
            <label>Confirmar senha</label>
            <input type="password" class="form-control" name="confirmSenha" formControlName="confirmSenha" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-1" (click)="onSubmit()">Cadastre-se</button>
      </form>

</div>