<div class="container">
    <div class="card text-center">
      <div class="card-header">
        <b>LOGIN - ONLY CHAT</b>
      </div>
      <div class="card-body p-4">
        
          <form (ngSubmit)="formSubmit()">
            <label style="float: left;" for="">Email</label>
            <input class="form-control m-2" 
              type="text" 
              placeholder="Insira seu email" 
              [(ngModel)]="loginData.email"
              name="email"
              required>
    
            <label style="float: left;" for="">Senha</label>
            <input class="form-control m-2" 
              type="password" 
              placeholder="Insira sua senha" 
              [(ngModel)]="loginData.password"
              name="password"
              required>
          
          <button class="btn btn-primary btn-block m-2" type="submit">Entrar</button>

          </form>
          <label>Ainda não possui uma conta? <a href="/cadastro">Cadastre-se</a></label>

        
      </div>
      
    </div>
  </div>